/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
   max-width 800px!important

body
    background-color: #080000 !important
    color: #080000
    
.navbar
    background-color: #5609ad


page
    background-color: #5609ad

h1,
h2,
h3,
h4,
h5,
h6,
p
    color: #ffffff !important

body,html
    background-color: #2e1a47

.search-box
    background-color: #5609ad

.nav-links
    background-color: #5609ad

.nav-links a
    color: #ffffff

div.links
    background-color: #edd207 !important

header.navbar
    background-color: #edd207 !important

nav.nav-links.can-hide
    background-color: #edd207 !important

div.search-box
    background-color: #edd207 !important

main.home
    background-color: #080000 !important

aside.sidebar
    background-color: #edd207 !important

html
    background-color: #080000 !important

a
    color: #d97a16 !important

code
    background-color: #5e0691 !important
    color: #080000 !important

a.nav-link
    color: #080000 !important

a.active.sidebar-link
    color: #080000 !important

p.sidebar-heading.open
    color: #080000 !important
